<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block javascripts %}
        {% block importmap %}{{ importmap('authentication') }}{% endblock %}
    {% endblock %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
<body>
    <div class="login_box">
    <h1>TsacLogger</h1>
        <form class="login_form" onSubmit="reqLogin()">
            Username:
            <input type="text" name="username" id="username">
            Password:
            <div class="pword_container" style="display:grid;grid-template-columns:18em auto">
            
            <input type="password" name="password" id="password">
            <button class="password_b" type="button" onmousedown="showPassword()" ontouchstart="showPassword()" onmouseup="hidePassword()" ontouchend="hidePassword()">
                <span class="material-symbols-outlined">
                    eye_tracking
                </span>
            </button>        
            </div>
            <button id="submit" type="submit">Login</button>
            <a class="register" href="/register">Or register...</a>
        </form>
    </div>
    
    <script>
        function showPassword() {
            let password = document.getElementById("password");
            password.type = "text";
        }
        
        function hidePassword() {
            let password = document.getElementById("password");
            password.type = "password";
        }
    </script>
</body>
</html> 